$fontRegular: 'Montserrat_Regular';
$fontBold: 'Montserrat_Bold';
$fontSemiBold: 'Montserrat_SemiBold';
$fontMedium: 'Montserrat_Medium';
$fontLight: 'Montserrat_Light';
$latoMedium:'Lato_Medium';
$latoBold:'Lato_Bold';
$latoSemibold:'Lato_Semibold';

$size-lg: 1380px;
$size-md: 1199px;
$size-sm: 820px;
$size-xs: 767px;