$fontRegular: 'Montserrat_Regular';
$fontBold: 'Montserrat_Bold';
$fontSemiBold: 'Montserrat_SemiBold';
$fontMedium: 'Montserrat_Medium';
$fontLight: 'Montserrat_Light';
$latoMedium:'Lato_Medium';
$latoBold:'Lato_Bold';
$latoSemibold:'Lato_Semibold';