@font-face {
	font-family: 'Montserrat_Bold';
	src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'Montserrat_SemiBold';
	src: url('/fonts/Montserrat-SemiBold.ttf');
} 
@font-face { 
	font-family: 'Montserrat_Medium';
	src: url('/fonts/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 'Montserrat_Regular';
	src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat_Light';
	src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
	font-family: 'Lato_Medium';
	src: url('/fonts/Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato_Bold'; 
	src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
	font-family: 'Lato_Semibold';
	src: url('/fonts/Lato_Semibold.ttf');
}
$fontRegular: 'Montserrat_Regular';
$fontBold: 'Montserrat_Bold';
$fontSemiBold: 'Montserrat_SemiBold';
$fontMedium: 'Montserrat_Medium'; 
$fontLight: 'Montserrat_Light';
$latoMedium:'Lato_Medium';
$latoBold:'Lato_Bold';
$latoSemibold:'Lato_Semibold';
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* 保持图片缩小后不模糊 */
}

.shade{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background: rgba(0,0,0,.6);
}
.img{
	font-size: 0;
}
img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
.isPc{
	display: block;
}
.isMobile{
	display: none;
}
.global-button{
	position: relative;
	border-radius: 4px;
	display: block;
	width: 118px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	overflow: hidden;
	background: #0F0F24;
	transition: all .3s;
	font-family: $latoBold;
	&:hover{
		background: #5b5fd4;
	}
}
.g-form{
	position: relative;
	display: flex;
	align-items: center;
	i{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 55px;
		height: 50px;
		background: url(/images/home.png) no-repeat center;
		background-size: 20px;
	}
	input{
		padding-left: 55px;
		padding-right: 20px;
		display: block;
		flex: 1;
		min-width: 0;
		width: 100%;
		height: 50px;
		background: #fff;
		border-radius: 4px 0 0 4px;
		font-size: 18px;		
		font-family: $fontMedium;
		border: 1px solid #D1DCE0;
	}
	button{
		display: block;
		width: 162px;
		height: 50px;
		border-radius: 0 4px 4px 0;
		color: #fff;
		font-size: 18px;
		font-family: $latoBold;
		background: #0F0F24;
		border: none;
		cursor: pointer;
		transition: all .3s;
		&:hover{
			background: #5b5fd4;
			color: #fff;
		}
	}
}
.container{
	margin: 0 auto;
	max-width: 1200px;
}
.gh{
	display: none;
}
.header-fiexd{
	position: fixed;
	top: 0;
	left: 0;
	padding: 55px 0 20px;
	width: 100%;
	z-index: 99;
	transition: all .3s;
	&.bg-white{
		padding: 25px 0 ;
		background:#fff;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
		.logo{
			a{
				width: 260px;
				height: 40px;
				background-image: url(/images/Logos.png);
			}
		}
		.nav{
			ul{
				a{
					color: #0F0F24;
					&::before{
						background:#5b5fd4;
					}
				}
			}
		}
	}
	.container{
		display: flex;
		align-items: center;
	}
	.logo{
		a{
			display: block;
			width: 267px;
			height: 39px;
			background-image: url(/images/Logo.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: all .3s;
		}
	}
	.nav{
		margin-left: auto;
		.nav-box{
			display: flex;
			align-items: center;
		}
		ul{
			display: flex;
		}
		li{
			margin-right: 54px;
			&.active{
				a{
					&::before{
						width: 100%;
					}
				}
			}
			a{
				position: relative;
				&::before{
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 0;
					height: 3px;
					background: rgba(255,255,255,.69);
					border-radius: 3px;
					transition: all .3s;
				}
				&:hover{
					&::before{
						width: 100%;
					}
				}
			}
		}
		a{
			display: block;
			width: auto;
			line-height: 40px;
			color: #fff;
			text-align: center;
			border-radius: 4px;
			transition: all .3s;
		}
		.login-btn{
			a{
				width: 118px;

			}
		}
	}
}

.footer{
	padding-top: 65px;
	padding-bottom: 40px;
	background: #0F0F24;
	color: #fff;
	.bd{
		margin-bottom: 16px;
		display: flex;
		align-items: center;
	}
	.navbar{
		margin-left: auto;
		display: flex;
		.item{
			&:not(:last-child){
				margin-right: 100px;
			}
		}
		.title{
			margin-bottom: 20px;
			font-family: $fontBold;
			i{
				display: none;
			}
		}
		.content{
			font-size: 14px;
		}
		a{
			margin-bottom: 15px;
			color: #F2EEFF;
			font-family: $fontRegular;
			display: block;
			font-weight: 300;
			&:last-child{
				margin: 0;
			}
		}
	}
	.ft{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-family: $fontMedium;
		.license{
			display: flex;
			align-items: center;
			i{
				margin-right: 10px;
				display: block;
				width: 26px;
				height: 26px;
				background: url(/images/Sun.svg) no-repeat center;
				background-size: cover;
			}
		}
	}
}


@media only screen and (max-width:1380px){
	body{
		font-size: 16px !important;
	}
	.header-fiexd{
		padding: 35px 0 20px;
		&.bg-white{
			padding: 20px 0;
		}
		.logo{
			a{
				width: 210px;
				height: 30px;
			}
		}
		.nav {
			a{
				
			}
		}
	}
}
@media only screen and (max-width:1199px){
	*{
		box-sizing: border-box;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	input,textarea {-webkit-appearance:none; /*去除input默认样式*/}
	html{min-height: 100%; position: relative;}

	body{
		position: static; 
	}
	img{
		max-width: 100%;
	}
	.height{
		height: 100%;
		overflow: hidden;
	}
	.isPc{
		display: none;
	}
	.isMobile{
		display: block;
	}
	
	.gh {
		display: block;
		position: relative;
		float: right;
		height:35px;
		width:60px; 
		top: 0px;
		right: 0;
		z-index: 100;
		transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		cursor:pointer; 
		background: rgba(white,.2);
		border-radius: 20px;
	}
	.gh.selected {
		background:#052633;
	}
	.gh a {
		display: block; 
		margin-top: -2px;
		position: relative;
		top: 50%;
		transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		width: 20px;
		height: 3px;
		margin: 0 auto;
		background: #fff;
		border-radius: 4px;
	}

	.gh a:after, .gh a:before {
		content: "";
		display: block;
		left: 0;
		position: absolute;
		transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
		width:100%;
		height: 3px;
		background: #fff;
		border-radius: 4px;
	}
	.gh a:after {
		top:6px;
	}
	.gh a:before {
		top:-6px;
	}
	.gh.selected a:after, .gh.selected a:before {
		top: 0;
	}
	.gh.selected a:before {
		transform: translateY(0px) rotate(-45deg);
		-webkit-transform: translateY(0px) rotate(-45deg);
		-ms-transform: translateY(0px) rotate(-45deg);
	}
	.gh.selected a:after {
		transform: translateY(0px) rotate(45deg);
		-webkit-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
	}
	.gh.selected a {
		background-color: transparent !important;
	}
	.container{
		padding: 0 5%;
		max-width: 100%;
	}
	.header-fiexd {
		padding: 24px 0;
		&.bg-white{
			.gh{
				background:#052633;
			}
			.logo{
				a{
					width: 190px;
					height: 28px;
				}
			}
			.nav{
				a{
					&::before{
						background: #5b5fd4;
					}
				}
			}
		}
		.container{
			display: flex;
			justify-content: space-between;
		}
		.nav {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background: rgba(#000,.6);
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			transition: all .5s;
			&.show{
				opacity: 1;
				visibility: visible;
				.nav-box{
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}
			.nav-box{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				transform: translateX(100%);
				display: block;
				padding-top: 40px;
				width: 80%;
				background: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all .5s;
			}
			a{
				margin: 0;
				width: 100%;
				color: #000;
			}
			ul{
				margin-right: 0;
				display: block;
				li{
					margin: 0;
				}
				a{
					padding-left: 40px;
					text-align: left;
					&::before{
						left: 40px;
						transform: none;
					}
				}
			}
			.login-btn{
				margin-top: 100px;
				text-align: center;
				a{
					display: inline-block;
					padding: 0 30px;
					color: #fff;
					width: auto;
				}
			}
		}
	}
	
}

@media only screen and (max-width:820px){
	.footer {
		padding-top: 0;
		padding-bottom: 0;
		.container{
			padding: 0;
		}
		.go-top{
			border-bottom: 1px solid rgba(73,75,77,.5);
			a{
				padding: 14px 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				color: #f2f2f2;
			}
			i{
				display: block;
				height: 12px;
				width: 12px;
				margin-left: 5px;
				background-image: url('/images/up.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}
		}
		.bd{
			flex-wrap: wrap;
			.logo{
				display: none;
				margin-bottom: 30px;
				width: 100%;
				text-align: center;
				img{
					width: 195px;
				}
			}
			.navbar{
				margin: 0;
				width: 100%;
				flex-wrap: wrap;
				.item{
					margin: 0;
					width: 100%;
				}
				.title{
					position: relative;
					margin: 0;
					padding: 18px 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					line-height: 1;
					font-size: 14px;
					color: #ebeff2;
					&.active{
						i{
							&::after{
								transform: rotate(0);
							}
						}
					}
					i{
						position: relative;
						display: block;
						width: 10px;
						height: 20px;
						&::before,&::after{
							content: '';
							display: block;
							position: absolute;
							top: 9px;
							right: 0;
							width: 10px;
							height: 2px;
							background-color: #ebeff2;
						}
						&::after{
							transform: rotate(90deg);
							transition: all .3s;
						}
					}
				}
				.content{
					display: none;
					padding: 0 30px;
					background: #141432;
					.box{
						padding-top: 10px;
						padding-bottom: 10px;
					}
					a{
						display: block;
						font-size: 14px;
						line-height: 20px;
						margin-top: 16px;
						margin-bottom: 16px;
						color: #F2EEFF;
					}
				}
			}
		}
		.ft{
			padding-bottom: 20px;
			flex-wrap: wrap;
			line-height: 40px;
			.license{
				width: 100%;
				justify-content: center;
			}
			.copy{
				text-align: center;
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width:767px){
	.footer{
		.bd {
			.navbar {
				.title{
					font-size: 13px;
				}
			}
		}
		.ft{
			font-size: 13px;
		}
	}
	.g-form {
		display: block;
		width: 100%;
		i{
			height: 60px;
		}
		input{
			border-radius: 5px;
			width: 100%;
			height: 60px;
		}
		button{
			margin: 0 auto;
			margin-top: 35px;
			border-radius: 5px;
		}
	}
}