@import "./base.scss";
@media only screen and (max-width:$size-lg){
	
	.banner-wrap {
		height: 720px;
		h3{
			font-size: 40px;
			line-height: 56px;
		}
		.pictrue{
			right: 0;
		}
	}
	.wroks-wrap {
		.hd{
			margin: 80px 0 0;
			h3{
				font-size: 38px;
			}
		}
		ul{
			width: 780px;
			.number{
				font-size: 20px;
			}
			.title{
				font-size: 26px;
			}
		}
		.desc{
			font-size: 18px;
		}
		.wroks-anim-sticky{
			transform: translateX(10px);
		}
	}
	.contact-wrap {
		.title{
			font-size: 50px;
		}
		.desc{
			font-size: 22px;
		}	
	}
	.faq-wrap {
		h3{
			font-size: 32px;
		}
		.left {
			.us {
				.phone{
					font-size: 26px;
				}
			}
		}
		.right {
			.title{
				font-size: 20px;
				i{
					width: 34px;
					height: 34px;
					&::before,&::after{
						margin-left: -7px;
						margin-top: -1px;
						width: 14px;
						height: 2px;
					}
				}
			}
			.content{
				font-size: 16px;
			}
		}
	}
	.home-banner {
		h3{
			font-size: 40px;
			line-height: 56px;
		}
		p{
			font-size: 20px;
		}
	}
}
@media only screen and (max-width:$size-md){
	.banner-wrap {
		height: 580px;
		.container{
			padding-top: 12vw;
		}
		.pictrue{
			width: 58%;
		}
		h3{
			font-size: 36px;
		}
	}
	.wroks-wrap {
		.hd{
			text-align: center;
		}
		.bd{
			padding: 50px 0;
		}
		.vertical-line{
			display: none;
		}
		.wroks-anim-sticky{
			display: none;
		}
		ul{
			width: auto;
			li{
				padding: 0;
				overflow: hidden;
			}
			.circle{
				display: none;
			}
			.img{
				display: block;
				text-align: center;
			}
		}
	}
	.contact-wrap {
		.title{
			font-size: 32px;
		}
		.desc{
			font-size: 18px;
		}
		.form {
			.input-block{
				font-size: 16px;
			}
			.submit-btn{
				font-size: 16px;
			}
		}
	}
	.faq-wrap {
		.bd{
			flex-wrap: wrap;
			padding-bottom: 50px;
		}
		.left{
			margin-bottom: 50px;
			width: 100%;
			text-align: center;
		}
		.right{
			width: 100%;
		}
	}
	.home-banner {
		height: 740px;
		.container{
			padding-top: 130px;
		}
		.form{
			width: 530px;
		}
		.picture {
			width: 75%;
		}
	}
	.home-wroks{
		ul{
			li{
				text-align: center;
			}
		}
		.isMobile{
			margin: 40px 0 30px;
		}
	}
	.partner-wrap {
		margin-top: 80px;
		h4{
			font-size: 32px;
		}
		.bd{
			width: 100%;
		}
	}
	.getoffer-wrap {
		height: 350px;
		h4{
			font-size: 64px;
		}
		.t1{
			font-size: 20px;
		}
		.t2{
			font-size: 22px;
		}
	}
	.comment-wrap {
		.hd {
			h3{
				font-size: 40px;
			}
		}
		.swiper{
			&::before,&::after{
				width: 240px;
			}
		}
		.img{
			margin: 0 auto;
			margin-bottom: 30px;
			width: 70%;
		}
		.item{
			width: 390px;
			height: 590px;
		}
		.txt{
			.desc{
				font-size: 18px;
			}
			.name{
				font-size: 20px;
			}
		}
	}
	.subscription-wrap {
		&::before{
			height: 54%;
		}
		.hd {
			h3{
				font-size: 40px;
			}
		}
		.play{
			width: 570px;
			height: 320px;
			border-radius: 5px;
		}
	}
}
@media only screen and (max-width:$size-sm){
	.banner-wrap {
		height: 475px;
		.content{
			width: 400px;
		}
		h3{
			margin-bottom: 24px;
			font-size: 30px;
			line-height: 46px;
		}
		.btn{
			margin: 30px 0 25px;
		}
	}
	.faq-wrap{
		margin-bottom: 70px;
	}
	.wroks-wrap {
		.hd{
			margin: 50px 0 0;
			h3{
				font-size: 28px;
			}
		}
		ul {
			li{
				margin-bottom: 40px;
				height: auto;
			}
			.title{
				font-size: 24px;
			}
			.desc{
				margin-bottom: 20px;
				font-size: 18px;
			}
		}
	}
	.home-banner {
		h3{
			font-size: 36px;
		} 
		ul{
			position: relative;
			z-index: 2;
		}
		.picture{
			
		}
	}
	.home-wroks{
		display: none;
	}
	.mobil-home-works{
		display: block;
		.container{
			padding: 0;
			overflow: hidden;
		}
		.hd{
			padding: 90px 0 66px;
			text-align: center;
			h3{
				font-family: $fontBold;
				font-size: 36px;
			}
		}
		.step{
			margin-bottom: 10px;
			font-size: 22px;
			color: #636363;
			font-family: $fontBold;
		}
		.tit{
			margin-bottom: 20px;
			font-size: 22px;
			font-family: $fontSemiBold;
			color: #5b5fd4;
		}
		.desc{
			font-size: 18px;
			line-height: 32px;
			color: #052633;
		}
		li{
			padding-bottom: 100px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&:nth-child(2n){
				.picture{
					order: -1;
				}
				
			}
		}
		.txt{
			padding-left: 5%;
			flex: 1;
			min-width: 0;
		}
		.picture{
			position: relative;
			.bg{
				position: absolute;
			}
			.img{
				position: relative;
				z-index: 2;
			}
		}
		.step1{
			.bg1{
				top: -35px;
				right: -35%;
			}
			.bg2{
				left: -10px;
				bottom: -30px;
			}
		}
		.step2{
			.bg1{
				top: -15px;
				right: 20px;
			}
			.bg2{
				left: 0;
				bottom: -20px;
			}
		}
		.step3{
			.bg1{
				top: -50px;
				right: 0;
			}
			.bg2{
				right: 0;
				bottom: -35px;
			}
		}
	}
	.partner-wrap{
		margin-top: 0;
		margin-bottom: 50px;
		h4{
			display: none;
		}
		.mobile-title{
			display: block;
			text-align: center;
			font-size: 22px;
			line-height: 28px;
			font-family: $fontSemiBold;
			span{
				color: #5b5fd4;
			}
		}
	}
	.getoffer-wrap {
		h4{
			font-size: 74px;
		}
		.t1{
			font-size: 16px;
		}
		.t2{
			font-size: 24px;
		}
		button{
			font-size: 18px;
		}
	}
	.comment-wrap{
		padding-bottom: 50px;
		.swiper{
			&::before,&::after{
				display: none;
			}
		}
		.swiper-container{
			width: 400px;
		}
		.swiper-button-prev,.swiper-button-next{
			top: 185px;
		}
		.item{
			margin: 0 20px;
			transform: none;
			width: 100%;
			height: auto;
			background: transparent !important;
		}
	}
	.subscription-wrap {
		.hd {
			h3{
				font-size: 36px;
			}
		}
		.play{
			height: 322px;
		}
	}
}
@media only screen and (max-width:$size-xs){
	.banner-wrap {
		position: relative;
		height: auto;
		background: none;
		overflow: visible;
		animation:none;
		background: url(/images/mobile_bg.png) no-repeat center;
		background-size: cover;
		&::before,&::after{
			display: none;
			content: '';
			position: absolute; 
			top: 0;
			left: 0;
			width: 100%;
			height: 60%;
			animation: dynamics 20s ease infinite;
		}
		&::before{
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
			background: linear-gradient(90deg,#2600da, #f29e25,#2600da,#f29e25);
			background-size: 1400% 300%;
		}
		&::after{
			top: 41.5%;
			-webkit-clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 100%);
			clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 100%);
			background: linear-gradient(90deg,#f29e25, #2600da,#f29e25, #2600da);
			background-size: 1400% 300%;
		}
		.container{
			position: relative;
			z-index: 2;
		}
		.pictrue{
			display: none;
		}
		.content{
			padding-top: 75px;
			padding-bottom: 135px;
			width: 100%;
		}
		h3{
			margin-bottom: 35px;
			margin-left: 20px;
			font-size: 30px;
		}
		p{
			margin-left: 20px;
			line-height: 1.5;
			font-size: 20px;
			font-family: $fontRegular;
		}
		.tip{
			margin: 0;
			text-align: center;
			font-size: 18px;
			font-family: $latoSemibold;
		}
		.btn {
			margin: 40px 0 35px;
			a{
				margin: 0 auto;
			}
		}
	}
	.wroks-wrap {
		.hd {
			h3{
				font-size: 36px;
			}
		}
		ul {
			.number{
				font-size: 20px;
			}
			.title{ 
				font-size: 20px;
				
			}
			.desc{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
	.contact-wrap {
		height:708px;
		background: url(/images/mobile_bg2.png) no-repeat center;
		background-size: 100% 100%;
		.container{
			display: block;
			padding-top: 155px;
		}
		.title{
			margin-bottom: 40px;
			font-size:36px;
			text-align: left;
		}
		.title,.desc{
			width: 80%;
			text-align: left;
			line-height: 1.5;
		}
		.desc{
			width: 73%;
			margin-bottom: 70px;
			font-size: 20px;
		}
		.form {
			form{
				width: 100%;
				flex-wrap: wrap;
			}
			.input-block{
				flex: none;
				width: 100%;
			}
			.submit-btn{
				margin: 0 auto;
				margin-top: 45px;
				border-radius: 5px;
			}
		}
	}
	.faq-wrap {
		margin: 0;
		.container{
			padding: 0;
		}
		.hd{
			margin: 60px 0 40px;
			display: block;
			text-align: center;
		}
		h3{
			margin: 0;
			font-size: 36px;
			line-height: 44px;
		}
		.bd{
			padding: 0;
		}
		.left {
			margin: 0;
			margin-top: 60px;
			h3{
				display: none;
			}
			.title{
				display: none;
			}
			.mobile-title{
				margin-bottom: -20px;
				padding-right: 5%;
				display: block;
				text-align: right;
				font-family: $fontBold;
				color: #052633;
			}
			.desc{
				padding: 50px 0 20px;
				clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
				background: linear-gradient(-75deg, #2600da, #f29e25);
			}
			.us{
				margin-bottom: 25px;
				padding-left: 10%;
				text-align: left;
				color: #fff;
				.tit{
					margin: 0;
				}
				.phone{
					font-size: 22px;
				}
			}
			.time{
				font-size: 13px;
				line-height: 26px;
				font-family: $fontRegular;
				color: #fff;
			}
		}
		.right{
			padding: 0 5%;
			order: -1;
			.title{
				font-size: 16px;
				i{
					width: 32px;
					height: 32px;
				}
			}
			.content{
				font-size: 14px;
			}
		}
		.sign-up-btn{
			display: none;
		}
		.faq-collapse {
			.ant-collapse-item {
				.ant-collapse-header{
					font-size: 20px;
					.ant-collapse-arrow{
						width: 38px;
						height: 38px;
						&::before,&::after{
							margin-left: -8px;
							margin-top: -1px;
							width: 16px;
						}
					}
				}
			}
		}
	}
	.home-banner {
		padding-bottom: 85px;
		animation: none;
		height: auto;
		background: url(/images/mobile_bgs.png) no-repeat center;
		background-size: cover;
		.mobile-bg{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			& > div{
				position: relative;
				width: 100%;
				height: 40%;
				animation: dynamics 20s ease infinite;
			}
			.bg-top,.bg-bottom{
				-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
				background: linear-gradient(90deg,#2600da, #f29e25,#2600da,#f29e25);
				background-size: 1400% 300%;
			}
			.bg-middle{
				top: -12.5%;
				-webkit-clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 100%);
				clip-path: polygon(0 0, 100% 30%, 100% 80%, 0 100%);
				background: linear-gradient(90deg,#f29e25, #2600da,#f29e25, #2600da);
				background-size: 1400% 300%;
			}
			.bg-bottom{
				top: -22%;
				height: 47%;
				-webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
				clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
			}
		}
		h3{
			display: none;
		}
		.mobile-tit{
			display: block;
		} 
		.container{
			position: relative;
			padding-top: 120px;
			z-index: 5;
		}
		.tips,.picture{
			display: none;
		}
		h3{
			margin-bottom: 25px;
			line-height: 46px;
		}
		p{
			margin-bottom: 34px;
			width: 326px;
			font-size: 20px;
			line-height: 1.5;
			span{
				font-size: 36px;
			}
		}
		.form{
			width: 100%;
		}
		ul{
			margin-top: 35px;
		}
	}
	.mobil-home-works {
		li{
			padding-bottom: 120px;
			display: block;
			overflow: hidden;
			&:nth-child(2n){
				.picture{
					float: left;
				}
			}
		}
		.txt{
			margin-bottom: 90px;
			padding: 0 5%;
		}
		.picture{
			float: right;
		}
	}
	.partner-wrap {
		margin-bottom: 105px;
		.bd{
			padding: 30px 40px;
			border-radius: 70px;
			height: auto;
			box-shadow: 0 7px 5px 0 rgba(#000,.15);
		}
		p{
			display: none;
		}
		.mobile-desc{
			margin: 0;
			margin-bottom: 40px;
			padding: 0 10px;
			text-align: center;
			width: 100%;
			display: block;
			letter-spacing: 1px;
		}
		ul{
			li{
				margin-right: 0;
				padding: 0 5%;
			}
			img{
				display: block;
			}
		}
	}
	.getoffer-wrap{
		background: url(/images/mobile_13.png) no-repeat center;
		background-size: 100% 100%;
		height: auto;
		.container{
			padding: 65px 0 100px;
		}
		h4{
			margin-bottom: 30px;
			font-size: 65px;
		}
		.t1{
			margin-bottom: 35px;
		}
		.t2{
			display: none;
		}
		.mobie-t2{
			margin-bottom: 40px;
			display: block;
			font-size: 22px;
			line-height: 36px;
		}
	}
	.comment-wrap {
		padding-top: 80px;
		.hd {
			margin: 0 auto;
			width: 300px;
			text-align: center;
			h3{
				font-size: 36px;
				line-height: 44px;
			}
		}
		.swiper-container{
			width: 100%;
		}
		.swiper-button-prev, .swiper-button-next{
			top: 126px;
			background-size: 24px;
		}
		.swiper-button-prev{
			left: -5%;
		}
		.swiper-button-next{
			right: -5%;
		}
	}
	
	.subscription-wrap {
		&::before{
			height: 61%;
		}
		.form{
			margin-bottom: 160px;
			width: 100%;
		}
		.play {
			width: 100%;
			height: 210px;
			.img{
				&::before{
					width: 40px;
					height: 40px;
				}
			}
		}
	}
	.cookies-popup-wrap {
		right: 0;
		bottom: 0;
		width: 100%;
		.box{
			width: 100%;
		}
	}
}